<svg [attr.height]="(radius * 2) + (bezel * 2) + 5" [attr.width]="(radius *2) + (bezel * 2) + 5" font-family="arial">
  <defs>
    <filter id="shadow">
      <feDropShadow dx="5" dy="5" stdDeviation="0.2" flood-color="black" />
    </filter>
  </defs>
  <path [attr.d]="bezelPath" fill="#222" filter="url(#shadow)" />

  <circle [attr.cx]="fullWidth * 0.1" [attr.cy]="fullHeight * 0.1" [attr.r]="7" fill="black" />
  <circle [attr.cx]="fullWidth * 0.9" [attr.cy]="fullHeight * 0.1" [attr.r]="7" fill="black" />
  <circle [attr.cx]="fullWidth * 0.9" [attr.cy]="fullHeight * 0.9" [attr.r]="7" fill="black" />
  <circle [attr.cx]="fullWidth * 0.1" [attr.cy]="fullHeight * 0.9" [attr.r]="7" fill="black" />

  <circle [attr.cx]="centerY" fill="#0" [attr.cy]="centerX" [attr.r]="radius + 6" fill="gray" filter="url(#shadow)" />
  <circle [attr.cx]="centerY" fill="#0" [attr.cy]="centerX" [attr.r]="radius" stroke="white" stroke-width="2" />

  <path [attr.d]="pathInTolerance" stroke="#007F00" stroke-width="6" />
  <path [attr.d]="pathOverTolerance" stroke="#7F0000" stroke-width="6" />

  <line *ngFor="let segment of fuelPressureMinorSegments" [attr.x1]="segment.x1" [attr.x2]="segment.x2"
    [attr.y1]="segment.y1" [attr.y2]="segment.y2" stroke="gray" stroke-width="2" />

  <line *ngFor="let segment of fuelPressureSegments" [attr.x1]="segment.x1" [attr.x2]="segment.x2"
    [attr.y1]="segment.y1" [attr.y2]="segment.y2" stroke="white" stroke-width="2" />

  <line *ngFor="let segment of oilPressureMinorSegments" [attr.x1]="segment.x1" [attr.x2]="segment.x2"
    [attr.y1]="segment.y1" [attr.y2]="segment.y2" stroke="gray" stroke-width="2" />

  <line *ngFor="let segment of oilPressureSegments" [attr.x1]="segment.x1" [attr.x2]="segment.x2" [attr.y1]="segment.y1"
    [attr.y2]="segment.y2" stroke="white" stroke-width="2" />

  <line *ngFor="let segment of oilTemperatureMinorSegments" [attr.x1]="segment.x1" [attr.x2]="segment.x2"
    [attr.y1]="segment.y1" [attr.y2]="segment.y2" stroke="gray" stroke-width="2" />

  <line *ngFor="let segment of oilTemperatureSegments" [attr.x1]="segment.x1" [attr.x2]="segment.x2"
    [attr.y1]="segment.y1" [attr.y2]="segment.y2" stroke="white" stroke-width="2" />

  <text *ngFor="let segment of fuelPressureSegments" [attr.x]="segment.labelX" [attr.y]="segment.labelY"
    dominant-baseline="middle" [attr.font-size]="10" font-weight="bold" text-anchor="middle"
    fill="white">{{segment.label}}</text>

  <text *ngFor="let segment of oilPressureSegments" [attr.x]="segment.labelX" [attr.y]="segment.labelY"
    dominant-baseline="middle" [attr.font-size]="10" font-weight="bold" text-anchor="middle"
    fill="white">{{segment.label}}</text>

  <text *ngFor="let segment of oilTemperatureSegments" [attr.x]="segment.labelX" [attr.y]="segment.labelY"
    dominant-baseline="middle" [attr.font-size]="markerFontSize" font-weight="bold" text-anchor="middle"
    fill="white">{{segment.label}}</text>

  <text fill="white" dominant-baseline="middle" text-anchor="middle" [attr.x]="radius + bezel"
    [attr.y]="radius / 2 + bezel">OIL TEMP &deg;C</text>

  <path [attr.d]="pointerOilTemp" fill="white" />
  <path [attr.d]="pointerOilPressure" fill="white" />
  <path [attr.d]="pointerFuelPressure" fill="white" />

  <circle [attr.cx]="centerX" [attr.cy]="centerY" [attr.r]="radius * 0.1" fill="#444" />
  <circle [attr.cx]="centerX" [attr.cy]="centerY" [attr.r]="radius * 0.04" fill="black" />

  <circle [attr.cx]="oilPressureSpec.centerX" [attr.cy]="oilPressureSpec.centerY" [attr.r]="radius * 0.06" fill="#444" />
  <circle [attr.cx]="oilPressureSpec.centerX" [attr.cy]="oilPressureSpec.centerY" [attr.r]="radius * 0.02" fill="black" />
  
  <circle [attr.cx]="fuelPressureSpec.centerX" [attr.cy]="oilPressureSpec.centerY" [attr.r]="radius * 0.06" fill="#444" />
  <circle [attr.cx]="fuelPressureSpec.centerX" [attr.cy]="oilPressureSpec.centerY" [attr.r]="radius * 0.02" fill="black" />

</svg>