<svg font-family="arial" [attr.height]="(radius * 2) + (bezel * 2) + 10" [attr.width]="(radius *2) + (bezel * 2) + 10">
  <defs>
    <filter id="shadow">
      <feDropShadow dx="5" dy="5" stdDeviation="0.2" flood-color="black" />
    </filter>
  </defs>

  <path [attr.d]="bezelPath" fill="#222" filter="url(#shadow)"/>

  <circle [attr.cx]="fullWidth * 0.1" [attr.cy]="fullHeight * 0.1" [attr.r]="7" fill="black"  />
  <circle [attr.cx]="fullWidth * 0.9" [attr.cy]="fullHeight * 0.1" [attr.r]="7" fill="black"  />
  <circle [attr.cx]="fullWidth * 0.9" [attr.cy]="fullHeight * 0.9" [attr.r]="7" fill="black"  />
  <circle [attr.cx]="fullWidth * 0.1" [attr.cy]="fullHeight * 0.9" [attr.r]="7" fill="black"  />

  <circle [attr.cx]="centerX" fill="#333" [attr.cy]="centerY" [attr.r]="radius * 0.1" fill="#444" />
  <circle [attr.cx]="centerX" fill="#333" [attr.cy]="centerY" [attr.r]="radius * 0.04" fill="black" />

  <circle [attr.cx]="centerY" fill="#0" [attr.cy]="centerX" [attr.r]="radius + 6" fill="silver"  filter="url(#shadow)"/>
  <circle [attr.cx]="radius + bezel" fill="black" [attr.cy]="radius + bezel" [attr.r]="radius" stroke="white" stroke-width="2" />

    <g [attr.transform]="translateIt(0.20, 0.65)">
      <path [attr.d]="slipPath" style=" fill:white" />
    </g>


    <g [attr.transform]="translateIt(0.20, 0.56)">
      <path [attr.d]="slipPath" style=" fill:black" />
    </g>

    <circle [attr.cx]="centerX" fill="#333" [attr.cy]="centerY" [attr.r]="radius * 0.04" fill="black" />

    <g [attr.transform]="translateIt(0.35, 0.2)">
      <path [attr.d]="markerPath" fill="white" transform="rotate(-15)" />
    </g>

    <g [attr.transform]="translateIt(0.65, 0.2)">
      <path [attr.d]="markerPath" fill="white" transform="rotate(15)" />
    </g>

    <g [attr.transform]="translateIt(0.34, 0.15)">
      <text font-family="arial" font-size="16" fill="white" transform="rotate(-15)" text-anchor="middle">L</text>
    </g>

    <g [attr.transform]="translateIt(0.66, 0.15)">
      <text  font-family="arial" font-size="16" fill="white" transform="rotate(15)" text-anchor="middle">R</text>
    </g>

    <path [attr.d]="turnPath" fill="white" />

    <circle [attr.cx]="centerX" fill="#333" [attr.cy]="centerY" [attr.r]="radius * 0.1" fill="#444" />
    <circle [attr.cx]="centerX" fill="#333" [attr.cy]="centerY" [attr.r]="radius * 0.04" fill="black" />

    <text [attr.y]="centerY + 60" [attr.x]="centerX" font-size="14" fill="white" text-anchor="middle">2 MIN TURN</text>


    <text [attr.y]="centerY + 160" [attr.x]="centerX" font-size="14" fill="white" 
    text-anchor="middle">{{turn}} {{slip}}</text>


    <circle [attr.cx]="ballX" fill="#333" [attr.cy]="ballY" [attr.r]="radius * 0.115" />

  </svg>
